@page
@model WebApp.Pages_Song.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Author!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Category!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Song?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
